server:
  port: 8080
  tomcat:
    uri-encoding: UTF-8
  address: 0.0.0.0

spring:
  profiles:
    active: dev
  application:
    name: WkNetic
  messages:
    basename: i18n/messages
    encoding: UTF-8
    use-code-as-default-message: true

wknetic:
  socket:
    port: 8081